.app-content {
  background-image: url('/public/wood-texture.jpg');
  background-position: center center;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.spellbook {
  padding: 5rem 15rem 10rem 15rem;
  max-height: 66vh;
}